body {
  margin: 0 auto;
  width: 100%;
  min-width: 310px;
  background-color: #eee;
  user-select: none;
  cursor: default;
  font-family: sans-serif;
}

/* header */
.header {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.header .menu {
  padding: 5px 10px;
  display: inline-block;
}

.menu .title {
  font-weight: bold;
}

.menu span {
  font-size: 16px;
}

.menu select {
  font-size: 16px;
  background-color: #eee;
  border: dashed #000 1px;
  width: min-content;
  height: 25px;
}

.menu input {
  margin: 0;
}

/* workspace */
.workspace {
  margin: auto;
  width: 300px;
  height: 150px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}

.workspace .que {
  margin: 10px;
  display: inline-block;
}

.workspace .que .char {
  font-size: 96px;
}

.workspace .que .row input {
  width: 75px;
  font-size: 36px;
  border: solid #eee;
  border-bottom: dashed #000;
  background-color: #eee;
  border-radius: 0;
  display: inline;
  text-transform: capitalize;
  padding: 0;
}

.workspace .col .row .btn {
  display: inline-block;
  font-size: 32px;
}

/* footer */
.footer {
  margin: 20px auto;
  width: 100%;
}

/* wx */
.wx {
  min-width: 160px;
  position: relative;
  float: right;
  right: 20px;
  z-index: 1;
}

.wx #wx-title {
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  color: #777;
}

.wx #wx-name {
  font-weight: bold;
  color: #319A31;
  margin-left: 0;
}

.wx #wx-qr {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 250px;
  height: 250px;
  border: dashed #777 1px;
  z-index: 1;
}

/* copyright */
.copyright {
  min-width: 250px;
  position: relative;
  float: left;
  left: 25px;
  text-align: left;
  margin-bottom: 20px;
}

.copyright span {
  font-size: 14px;
  color: #777;
}

.copyright a {
  font-size: 12px;
  color: #888888;
  font-style: italic;
}

/* pay */
.pays {
  clear: both;
}

.pays .pay-title {
  margin-left: 25px;
  font-weight: bold;
  color: #777;
}

.pays .pay-name {
  font-weight: bold;
  margin-left: 10px;
}

.pays #wxpay {
  color: #319A31;
}

.pays img {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 250px;
  height: 250px;
  border: dashed #777 1px;
  z-index: 1;
}